[submodule "resources/atmos"]
	path = resources/atmos
	url = https://github.com/lua-atmos/atmos

[submodule "resources/f-streams"]
	path = resources/f-streams
	url = https://github.com/lua-atmos/f-streams/
[submodule "resources/atmos-lang"]
	path = resources/atmos-lang
	url = https://github.com/atmos-lang/atmos/
[submodule "resources/pico-sdl"]
	path = resources/pico-sdl
	url = https://github.com/fsantanna/pico-sdl
[submodule "game/rocks"]
	path = game/rocks
	url = https://github.com/atmos-lang/pico-rocks
[submodule "game/birds"]
	path = game/birds
	url = https://github.com/atmos-lang/pico-birds/
[submodule "resources/atmos-env/env-pico"]
	path = resources/atmos-env/env-pico
	url = https://github.com/lua-atmos/env-pico
